
<div class="hero-unit">
	<h1> doGood </h1>
	<br/>
	<h3> doGood helps you make pledges to make a positive change in someone's life by doing something good for them. You can follow your friends to see the pledges they have made in the past month and you can make similar pledges too!<h3>

</div>

  <div class="span10 offset3">
  <hr>
</div>
  <footer class="footer">
    <div class="row">
    	<div class="span8 offset5">
        <h4>DoGood was made by a good-hearted fellow called Vishwa Patel</h4>
    </div>
    </div>
  </footer>